body {
    width: 450px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
    border: solid 1px;
    border-color: #000;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #F2F2F2;
    font-family: 'Play', sans-serif;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26262a;
    border: solid 1px;
    border-color: #cc4400;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    position: relative;
    transition: background-color 0.6s ease, color 0.6s ease; 
    letter-spacing: 1.5px;
}

    button:hover {
        background-color: #cc4400;
        color: #FFFFFF;
    }


    button img {
        margin-right: 10px;
        z-index: 1;
    }

    button span {
        z-index: 1;
    }

.container {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

input, button {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input {
    background-color: #333333;
    color: #F2F2F2;
}

#animatedInfo {
    margin-bottom: 20px;
}

#WelcomeMessage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    margin-top: -1%;
    margin-bottom: 3%;
}

#message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

#message {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: #F2F2F2;
}

#messageInfo {
    display: flex;
    text-align: center;
    margin-top: -5%;
    margin-bottom: 10%;
}

#messagePlayerInfo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 13%;
    font-size: 17px;
    height: 40px; /* Fixed height to prevent movement */
    overflow: hidden;
}

.flague {
    margin-top: -0.50%;
    margin-left: 2%;
}

#logout {
    display: flex;
    width: 40%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin-top: 5%;
    margin-right: 5%;
}

#toggleExtension {
    display: flex;
    width: 40%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin-top: 5%;
    margin-left: 5%;
}

#change {
    margin-top: 2%;
}
